<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tape Deck - record radio streams to the cloud</title>
    <link rel="stylesheet" href="sketchy.min.css" />
    <script defer src="https://unpkg.com/vue@3.0.4"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/aws-amplify/3.3.13/aws-amplify.js"
    ></script>
    <script defer src="amazon-cognito-identity.js"></script>
    <script defer src="tapedeck-auth-confirm.js"></script>
  </head>

  <body>
    <div id="tapedeck-auth-confirm">
      <form id="capture-form" @submit.prevent="confirm">
        <input
          type="text"
          class="form-control form-control-lg"
          id="usernameInput"
          aria-describedby="usernameHelp"
          placeholder="Enter a username"
          v-model="username"
        />
        <input
          type="text"
          class="form-control form-control-lg"
          id="codeInput"
          aria-describedby="codeHelp"
          placeholder="Enter your confirmation code"
          v-model="code"
        />
        <button
          name="confirmButton"
          class="btn btn-primary btn-lg my-3"
          href="#"
          role="button"
          type="submit"
        >
          Confirm Your Account
        </button>
      </form>
    </div>
  </body>
</html>
