<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tape Deck - record radio streams to the cloud</title>
    <link rel="stylesheet" href="sketchy.min.css" />
    <script defer src="https://unpkg.com/vue@3.0.4"></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/aws-amplify/3.3.13/aws-amplify.js"
    ></script>
    <script defer src="amazon-cognito-identity.js"></script>
    <script defer src="tapedeck-auth.js"></script>
  </head>

  <body>
    <div id="tapedeck-auth">
      <form id="capture-form" @submit.prevent="signup">
        <div class="form-group">
          <div class="my-3">
            <input
              type="email"
              class="form-control form-control-lg"
              id="emailInput"
              aria-describedby="emailHelp"
              placeholder="Your email"
              v-model="email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Enter your email address</small
            >
          </div>
          <div class="my-3">
            <input
              type="text"
              class="form-control form-control-lg"
              id="usernameInput"
              aria-describedby="usernameHelp"
              placeholder="Enter a username"
              v-model="username"
            />
            <small id="usernameHelp" class="form-text text-muted"
              >Enter your desired username</small
            >
          </div>
          <div class="my-3">
            <input
              type="password"
              class="form-control form-control-lg"
              id="passwordInput"
              aria-describedby="passwordHelp"
              placeholder="Enter a password"
              v-model="password"
            />
            <small id="passwordHelp" class="form-text text-muted"
              >Enter your desired password</small
            >
          </div>
          <button
            name="signupButton"
            class="btn btn-primary btn-lg my-3"
            href="#"
            role="button"
            type="submit"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
